{% extends 'base.html.twig' %}

{% block title %}
    Movie Page
{% endblock %}

{% block body %}
    {# <h1 class="bg-blue-500 text-center text-2xl font-bold p-8">whooops.</h1> #}
    {# <img class= "" src="{{ asset('build/images/image1.c5818aa9.jpg')}}" alt=""> #}
{% endblock %}